/.gradle
/build
/generated
/api/build
/api/out/
/java-sdk/build/
/java-sdk/out/
/out/
/.idea
/*.iml
/.aws-sam/
/api/.idea/**
.DS_Store
common/src/generated
common/build
sdk/build
api/build
/.java-version


*.lock
/.gradle/*
/.idea/*